/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Animation events
   ========================================================================== */

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1600%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A2%2Cy%3A2%7D%2Cs%3A2%2Cb%3A6%7D%5D%7D */

@keyframes animation {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.61% { transform: matrix3d(1.443, 0, 0, 0, 0, 1.443, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.91% { transform: matrix3d(1.582, 0, 0, 0, 0, 1.582, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.21% { transform: matrix3d(1.622, 0, 0, 0, 0, 1.622, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.12% { transform: matrix3d(1.586, 0, 0, 0, 0, 1.586, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.92% { transform: matrix3d(1.527, 0, 0, 0, 0, 1.527, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.82% { transform: matrix3d(1.485, 0, 0, 0, 0, 1.485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.63% { transform: matrix3d(1.473, 0, 0, 0, 0, 1.473, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.94% { transform: matrix3d(1.506, 0, 0, 0, 0, 1.506, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.36% { transform: matrix3d(1.499, 0, 0, 0, 0, 1.499, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.77% { transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.19% { transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1.5, 0, 0, 0, 0, 1.5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.page-heading {
  font-family: aviano-future, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#buildings .video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#buildings .container {
  position: relative;
  z-index: 2;
}

.grid-item {
  width: 260px;
  padding-bottom: 35px;
  margin-bottom: 70px;
}

.building {
  background: url(../img/buildings.png);
  display: block;
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: 220px;
  cursor: pointer;
}
.building.active {
  animation: animation 1600ms linear both;
}
.building .name {
  font-family: aviano-future, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.333em;
  color: #000000;
  text-align: center;
  padding-top: 285px;
  margin-bottom: 0;
}
.building.active .name {
  padding-top: 210px;
}
.building .title {
  font-family: aviano-future, sans-serif;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

audio.story {
  display: block;
  margin: 0 auto;
}

.building-r1b1 {
  background-position: 0 0;
  margin-top: 130px;
}
.building-r1b2 {
  background-position: 0 -220px;
  margin-top: 10px;
}
.building-r1b3 {
  background-position: 0 -440px;
  margin-top: 110px;
}
.building-r1b4 {
  background-position: 0 -660px;
  margin-top: 250px;
}

.building-r2b1 {
  background-position: -200px 0;
  margin-top: 130px;
}
.building-r2b2 {
  background-position: -200px -200px;
  margin-top: 10px;
}
.building-r2b3 {
  background-position: -200px -400px;
  margin-top: 110px;
}
.building-r2b4 {
  background-position: -200px -600px;
  margin-top: 250px;
}

.building-r3b1 {
  background-position: -400px 0;
  margin-top: 30px;
}
.building-r3b2 {
  background-position: -400px -200px;
  margin-top: 10px;
}
.building-r3b3 {
  background-position: -400px -400px;
  margin-top: 110px;
}
.building-r3b4 {
  background-position: -400px -600px;
  margin-top: 250px;
}

.building-r4b1 {
  background-position: -600px 0;
  margin-top: 130px;
}
.building-r4b2 {
  background-position: -600px -200px;
  margin-top: 10px;
}
.building-r4b3 {
  background-position: -600px -400px;
  margin-top: 110px;
}
.building-r4b4 {
  background-position: -600px -600px;
  margin-top: 250px;
}

.building-r5b1 {
  background-position: -800px 0;
  margin-top: 130px;
}
.building-r5b2 {
  background-position: -800px -200px;
  margin-top: 10px;
}
.building-r5b3 {
  background-position: -800px -400px;
  margin-top: 110px;
}
.building-r5b6 {
  background-position: -800px -600px;
  margin-top: 250px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

